.categories-container {
    width: 100%; /* Set width as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of items */
  }

.comments-container{
  overflow-y: auto;
}
  
  /* Hide scrollbar for WebKit browsers */
  .categories-container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  
  /* Hide scrollbar for Firefox */
  .categories-container {
    scrollbar-width: none; /* Hide the scrollbar */
  }
  